{% extends "navbar.html" %}
{% block name %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
    {% if category == "error" %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ msg }}
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ msg }}
    </div>
    {% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Suggestions</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                {% for s in suggestions %}
                <li class="list-group-item">
            <a href="/profile/{{s}}">@{{s}}</a></li>
            {% endfor %}
              </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<div class="container">
    <div class="row justify-content-md-center pt-3">
        <div class="col-10">
            <h1>Hello {{user.username}} !</h1>
            <div class="d-flex justify-content-start">
                <a href="#" class="link-secondary text-decoration-none ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal"> Suggestions </a>
            </div>
        </div>

    </div>
    <div class="row justify-content-md-center pt-3">
        <div class="col-10">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Post a Tweet</h6>
                <form action="" method="post">
                <div class="d-flex text-muted pt-3">
                    <input type="text" class="form-control" name="title" placeholder="Title of your tweet" maxlength="256">
                </div>
                <div class="d-flex text-muted pt-3">
                    <textarea class="form-control" rows="3" name="tweet"
                    placeholder="Tell us what you are thinking about..." maxlength="2048"></textarea>
                </div>
                <small class="d-block text-end mt-3">
                    <button type="submit" class="btn btn-primary">Publish</button>
                </small>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center pt-2">
        <div class="col col-md-10">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Latest Tweets</h6>
            </div>
            
                {% for twt in tweets %}
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <div class="text-muted pt-3">
                        <div class="pb-1 mb-0 small lh-sm border-bottom">
                            {% if twt.content is defined %}
                                {% if twt.is_a_comment() %}
                                    <div class="d-flex bg-secondary text-secondary mx-1">   Replying to :
                                        <a href="/comments/{{twt.pid}}" class="link-secondary text-decoration-none ms-1">@{{dictUIDToUser[dictIDToTwt[twt.pid].uid].username}}</a>
                                    </div>
                                {% endif %}
                            
                                <strong>
                                    <p>{{twt.title}}</p>
                                </strong>
                                <div class="container-fluid">
                                    <p class="text-justify">
                                        {{twt.content}}
                                    </p>
                                </div>
                            <div class="d-flex justify-content-between mx-2">
                                <div class="d-flex justify-content-start">
                                    <a href="/profile/{{dictUIDToUser[twt.uid].username}}" class="d-block text-decoration-none">@{{dictUIDToUser[twt.uid].username}}</a>
                                    <p href="#" class="d-block text-decoration-none mx-1">-</p>
                                    <p href="#" class="d-block text-decoration-none">{{twt.date.strftime("%d/%m/%y %H:%M")}}</p>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <a href="/comments/{{twt.id}}" class="text-decoration-none me-1"><i class="bi bi-chat-text"></i> Comments</a>
                                    <p href="#" class="d-block text-decoration-none me-3">{{ twt.comments|length }}</p>

                                    {% if twt.liked_by_current() %}
                                    <a href="/unlike/{{twt.id}}?redirect=feed" class="text-decoration-none me-1"><i class="bi bi-suit-heart-fill"></i> Unlike</a>
                                    {% else %}
                                    <a href="/like/{{twt.id}}?redirect=feed" class="text-decoration-none me-1"><i class="bi bi-suit-heart"></i> Like</a>
                                    {% endif %}
                                    <p href="#" class="d-block text-decoration-none me-3">{{twt.dictLikes|length}}</p>

                                    {% if twt.retweeted_by_current() %}
                                    <a href="/unretweet/{{twt.id}}?redirect=feed" class="text-decoration-none me-1 font-weight-bold"><i class="bi-repeat-1"></i> Unretweet</a>
                                    {% else %}
                                    <a href="/retweet/{{twt.id}}?redirect=feed" class="text-decoration-none me-1 font-weight-bold"><i class="bi-repeat-1"></i> Retweet</a>
                                    {% endif %}
                                    <p href="#" class="d-block text-decoration-none me-3">{{twt.dictRetweets|length}}</p>

                                    {% if current_user.username == dictUIDToUser[twt.uid].username %}
                                    <a href="/delete/{{twt.id}}" class="text-decoration-none text-danger"><i class="bi bi-trash3"></i></a>
                                    {% endif %}
                            {% else %}
                                <div class="d-flex bg-secondary text-secondary mx-1">   Retweeted by :
                                    <a href="/comments/{{twt.pid}}" class="link-secondary text-decoration-none ms-1">@{{dictUIDToUser[dictIDToTwt[twt.t_id].uid].username}}</a>
                                </div>
                                {% set tweet = dictIDToTwt[twt.t_id] %}
                                {% if tweet.is_a_comment() %}
                                    <div class="d-flex bg-secondary text-secondary mx-1">   Replying to :
                                        <a href="/comments/{{twt.pid}}" class="link-secondary text-decoration-none ms-1">@{{dictUIDToUser[dictIDToTwt[tweet.pid].uid].username}}</a>
                                    </div>
                                {% endif %}

                                <strong>
                                    <p>{{tweet.title}}</p>
                                </strong>
                                <div class="container-fluid">
                                    <p class="text-justify">
                                        {{tweet.content}}
                                    </p>
                                </div>
                                                                <div class="d-flex justify-content-between mx-2">
                                <div class="d-flex justify-content-start">
                                    <a href="/profile/{{dictUIDToUser[tweet.uid].username}}" class="d-block text-decoration-none">@{{dictUIDToUser[tweet.uid].username}}</a>
                                    <p href="#" class="d-block text-decoration-none mx-1">-</p>
                                    <p href="#" class="d-block text-decoration-none">{{tweet.date.strftime("%d/%m/%y %H:%M")}}</p>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <a href="/comments/{{tweet.id}}" class="text-decoration-none me-1"><i class="bi bi-chat-text"></i> Comments</a>
                                    <p href="#" class="d-block text-decoration-none me-3">{{ tweet.comments|length }}</p>

                                    {% if tweet.liked_by_current() %}
                                    <a href="/unlike/{{tweet.id}}?redirect=feed" class="text-decoration-none me-1"><i class="bi bi-suit-heart-fill"></i> Unlike</a>
                                    {% else %}
                                    <a href="/like/{{tweet.id}}?redirect=feed" class="text-decoration-none me-1"><i class="bi bi-suit-heart"></i> Like</a>
                                    {% endif %}
                                    <p href="#" class="d-block text-decoration-none me-3">{{tweet.dictLikes|length}}</p>

                                    {% if tweet.retweeted_by_current() %}
                                    <a href="/unretweet/{{tweet.id}}?redirect=feed" class="text-decoration-none me-1 font-weight-bold"><i class="bi-repeat-1"></i> Unretweet</a>
                                    {% else %}
                                    <a href="/retweet/{{tweet.id}}?redirect=feed" class="text-decoration-none me-1 font-weight-bold"><i class="bi-repeat-1"></i> Retweet</a>
                                    {% endif %}
                                    <p href="#" class="d-block text-decoration-none me-3">{{tweet.dictRetweets|length}}</p>

                                    {% if current_user.username == dictUIDToUser[tweet.uid].username %}
                                    <a href="/delete/{{tweet.id}}" class="text-decoration-none text-danger"><i class="bi bi-trash3"></i></a>
                                    {% endif %}

                            {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>

        </div>
    </div>



</div>
</div>

{% endblock %}