<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Twitter</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/Twitter-logo.svg.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#">
                <img src="{{url_for('static', filename='images/Twitter-logo.svg.png')}}" alt="Bootstrap" width="30"
                    height="24">
            </a>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, msg in messages %}
    {% if category == "error" %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ msg }}
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ msg }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row justify-content-md-center pt-3">
        <div class="col-6">
            <h1>Please login</h1>
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <form action="#" method="post">
                    <div class="col-8">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input name="name" class="form-control" maxlength="64">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input name="pwd" type="password" class="form-control" id="exampleInputPassword1" maxlength="64">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</html>